@import '../../../index.scss';

.servicesSection {
    background-color: $text-grey;
    box-sizing: border-box;
    height: 199px;
    padding: 50px 55px 60px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    .service {
        width: 370px;
        height: 85px;
        position: relative;
        display: flex;

        .icon {
            color: $primary-green;
            font-size: 60px;
            margin-right: 40px;
            margin-top: 5px;
        }

        &:first-child {
            .icon {
                margin-right: 33px;
            }
        }

        &:last-child {
            .icon {
                margin-right: 55px;
            }
        }

        h5,
        p {
            display: block;
            margin: 0;
        }

        h5 {
            color: #ffffff;
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 14px;
        }

        p {
            width: 240px;
            color: #868380;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.3;
        }
    }
}