@import '../../../../index.scss';


    .productsArrows {
        max-width: 592px;
        width: 100%;
        height: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 12px;
        display: flex;
        justify-content: space-between;

        button {
            background-color: $button-grey;
            width: 30px;
            height: 30px;
            border-style: none;;
            color: #ffffff;
            font-size: 14px;
            text-align: center;
            outline: none;
            cursor: pointer;
        }

        div {
            background-color: #ffffff;
            max-width: 235px;
            width: 100%;
            height: 2px;
            margin: auto;
            margin-left: 6px;
            margin-right: 6px;
        }

        span {
            font-weight: 900;
            letter-spacing: 2px;
            font-size: 24px;
            margin-left: 3px;
            margin-right: 3px;
        }
    }

    .productsContainer {
        max-width: 1280px;
        min-width: 300px;
        width: 100%;
        margin: 0 auto;
    
        .slide {
            background-color: white;
            width: 270px;
            height: 295px;
            border-radius: 7px;
            text-align: center;
            margin-top: 32px;
            margin-left: 15px;
            margin-right: 15px;

            .slideImg {
                border-radius: 7px 7px 0px 0px;
            }

            h5{
                display: table-cell;
                vertical-align: middle;
                color: $text-grey;
                padding-left: 50px;
                width: 170px;
                height: 68px;
                line-height: 1.2;
                font-weight: 400;
                font-size: 15px;
                margin: 0 auto;
            }
        
            p {
                color: $primary-green;
                font-size: 14px;
                font-weight: 700;
                margin: 0 auto;
            }
        }
    }

    @media (max-width: 1235px) {
        .productsContainer {
            max-width: 900px;
        }
    }

    @media (max-width: 950px) {
        .productsContainer {
            max-width: 600px;
        }
    }

    @media (max-width: 768px) {
        .productsContainer {
            max-width: 300px;
        }

        .productsArrows {
            display: none;
        }
    }