@import '../../index.scss';

.page404 {
    background-color: #f1edea;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin-top: 80px;
    padding: 53px 55px 41px;
    display: flex;
    flex-direction: column;

    @media (max-width: 768px) {
        padding: 23px 15px 41px;
        margin-top: 62px;
    }

    .breadcrumbs {
        max-width: 1170px;
        width: 100%;
        height: 12px;
        font-size: 13px;
        font-weight: 700;
        display: flex;
        justify-content: center;

        div {
            color: #bdc3c7;

            &:nth-child(2) {
                padding-left: 14px;
                padding-right: 17px;
            }
        }

        a {
            color: $primary-green;

            &:hover {
                text-decoration: underline;
            }
        }

        .active {
            color: $text-grey;
        }
    }

    .pageName {
        max-width: 1170px;
        width: 100%;
        height: 66px;
        margin-top: 17px;
        margin-bottom: 37px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;

        @media (max-width: 768px) {
            height: 40px;
            margin-top: 31px;
        }

        div {
            background-color: #e5e2df;
            max-width: 508px;
            width: 100%;
            height: 2px;
            margin: auto;
            margin-left: 0;
            margin-right: 30px;

            &:last-child {
                margin: auto;
                margin-right: 0;
                margin-left: 30px;
            }
        }

        h1 {
            font-size: 48px;
            font-weight: 900;
            color: $text-grey;
            margin: 0;
            white-space: nowrap;

            @media (max-width: 768px) {
                font-size: 31px;
            }
        }
    }

    .container404 {
        box-sizing: border-box;
        background-color: white;
        max-width: 1170px;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        padding: 63px 100px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        overflow: hidden;

        @media (max-width: 950px) {
            padding: 40px 30px;
        }

        @media (max-width: 768px) {
            flex-direction: column;
            padding: 30px 15px;
        }

        img {
            position: absolute;
            opacity: 0.3;
            margin-left: -150px;

            @media (max-width: 768px) {
                display: none;
            }
        }

        h1 {
            font-size: 113px;
            font-weight: 900;
            letter-spacing: -1px;
            color: $primary-green;
            margin: 0;
            margin-top: 104px;
            white-space: nowrap;
            z-index: 10;

            @media (max-width: 768px) {
                font-size: 80px;
                margin: 0 auto;
                margin-bottom: 40px;
            }
        }

        .content404 {
            max-width: 570px;
            width: 100%;
            height: 100%;
            font-size: 16px;
            font-weight: 400;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            z-index: 10;
            padding-left: 30px;

            @media (max-width: 768px) {
                padding-left: 0px;
                margin: auto;
            }

            h4 {
                font-weight: 900;
                font-size: 24px;
                color: black;
                margin: 0;
                margin-bottom: 12px;
            }

            p {
                max-width: 550px;
                width: 100%;
                font-family: 'Myriad Pro Regular';
                color: $text-grey;
                line-height: 1.5;
                margin: 0;
                margin-top: 12px;
            }

            a {
                color: $primary-green;
                margin-top: 40px;

                &:hover {
                    text-decoration: underline;
                }

                @media (max-width: 768px) {
                    margin-top: 20px;
                }
            }

            .searchContainer {

                margin-top: 63px;

                @media (max-width: 768px) {
                    margin-top: 40px;
                }
                
                h4 {
                    font-weight: 900;
                    font-size: 24px;
                    color: black;
                    margin: 0;
                    margin-bottom: 20px;
                }

                button {
                    width: 100%;
                    height: 40px;
                    padding: 12px 14px 12px 22px;
                    border: 2px solid #e8e2d6;
                    border-radius: 20px;
                    color: $text-grey;
                    font-size: 12.5px;
                    text-transform: uppercase;
                    text-align: center;
                    background-color: transparent;
                    outline: none;
                    display: flex;
                    justify-content: space-between;
                    margin: auto;
        
                    div {
                        font-size: 16px;
                        margin-top: -3px;
                    }
                }
            }
        }
    }

  }