@import '../../../index.scss';

.banner {
    background-image: url(../../../assets/images/banner.png);
    background-position: 80% 50%;
    box-sizing: border-box;
    height: 445px;
    padding: 145px 55px 155px;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @media (max-width: 768px) {
        background-size: 200%;
        height: 300px;
        padding: 10px 15px 45px;
    }
  
    @media (max-width: 500px) {
        height: 185px;
    }

    h1 {
        font-size: 47px;
        font-weight: 900;
        line-height: 1.25;
        margin: auto;

        @media (max-width: 768px) {
            font-size: 30px;
        }
    }

    p {
        font-size: 14px;
        font-weight: 400;
        max-width: 340px;
        line-height: 1.25;
        margin: auto;
        text-align: center;
    }
}