@import '../../index.scss';

.categoryServicesWrapper {
    width: 100%;
    height: 100%;

.categoryServices {
    background-color: #f1edea;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin-top: 80px;
    padding: 53px 55px 41px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @media (max-width: 768px) {
        padding: 23px 15px 0px;
        margin-top: 62px;
    }

    .breadcrumbs {
        max-width: 1170px;
        width: 100%;
        height: 12px;
        font-size: 13px;
        font-weight: 700;
        display: flex;
        justify-content: center;

        div {
            color: #bdc3c7;

            &:nth-child(2) {
                padding-left: 14px;
                padding-right: 17px;
            }
        }

        a {
            color: $primary-green;

            &:hover {
                text-decoration: underline;
            }
        }

        .active {
            color: $text-grey;
        }
    }

    .pageName {
        max-width: 1170px;
        width: 100%;
        height: 65px;
        margin-bottom: 30px;
        margin-top: 17px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;

        @media (max-width: 768px) {
            height: 40px;
            margin-top: 31px;
        }

        div {
            background-color: #f9f6f5;
            max-width: 396px;
            width: 100%;
            height: 2px;
            margin: auto;
            margin-left: 0;
            margin-right: 30px;

            &:last-child {
                margin: auto;
                margin-right: 0;
                margin-left: 30px;
            }
        }

        h1 {
            font-size: 48px;
            font-weight: 900;
            letter-spacing: -1px;
            color: $text-grey;
            margin: 0;
            white-space: nowrap;

            @media (max-width: 768px) {
                font-size: 31px;
            }
        }
    }

    .hide {
        display: none;

        @media (max-width: 768px) {
            font-size: 13px;
            color: $primary-green;
            display: block;
            text-align: center;
            margin-bottom: 21px;
        }
    }

    .filters {
        box-sizing: border-box;
        background-color: white;
        max-width: 1170px;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        padding: 33px 35px 33px 30px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;

        @media (max-width: 1000px) {
            justify-content: center;
            flex-wrap: wrap;
        }

        @media (max-width: 768px) {
            flex-wrap: nowrap;
            flex-direction: column;
            justify-content: space-between;
            padding: 12px 14px 0px;
        }

        .column {
            width: 260px;
            height: 99px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            .filter {
                width: 260px;
                height: 36px;
                display: flex;

                p {
                    color: $text-grey;
                    font-size: 14px;
                    font-weight: 700;
                    margin: auto;
                    margin-left: 0;
                }

                button {
                    width: 200px;
                    height: 36px;
                    padding: 10px 16px 10px 20px;
                    border: 2px solid rgba(69, 65, 62, 0.5);
                    border-radius: 20px;
                    color: $text-grey;
                    font-size: 12.5px;
                    text-align: center;
                    background-color: transparent;
                    outline: none;
                    display: flex;
                    justify-content: space-between;
                    margin: auto;
                    margin-right: 0;

                    @media (max-width: 768px) {
                        font-size: 14px;
                        padding: 8px 16px 8px 20px;
                    }

                    span {
                        font-size: 12px;
                        color: rgba(69, 65, 62, 0.5);

                        @media (max-width: 768px) {
                            line-height: 16px;
                        }
                    }
                }

                .dotsContainer {
                    width: 190px;
                    height: 36px;
                    margin-right: 10px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    .dot {
                        width: 14px;
                        height: 14px;
                        border-radius: 50%;
                        background-color: #dc041d;
                        margin: auto 0;

                        &:first-child {
                            background-color: white;
                            border: 3px solid $text-grey;
                        }

                        &:nth-child(2) {
                            background-color: #43c0cf;
                        }

                        &:nth-child(3) {
                            background-color: #3d402f;
                        }

                        &:nth-child(4) {
                            background-color: #4aaf00;
                        }

                        &:nth-child(5) {
                            background-color: #315bbd;
                        }

                        &:nth-child(6) {
                            background-color: #ec6115;
                        }

                        &:last-child {
                            background-color: #efead7;
                        }


                    }
                }
            }

            &:nth-child(2) {

                @media (max-width: 1000px) {
                    margin-right: 0;
                    margin-left: 30px;
                }

                @media (max-width: 768px) {
                    margin-right: auto;
                    margin-left: auto;
                }
            }

            &:last-child {

                @media (max-width: 1000px) {
                    width: 100%;
                    height: 36px;
                    flex-direction: row;
                    justify-content: center;
                    margin-top: 25px;

                    .filter:last-child {
                        margin-left: 30px;
                    }
                }

                @media (max-width: 768px) {
                    width: 260px;
                    height: 99px;
                    flex-direction: column;
                    justify-content: space-between;
                    margin-top: 0px;

                    .filter:last-child {
                        margin-left: 0px;
                    }
                }
            }

            @media (max-width: 768px) {
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 25px;

                &:first-child {
                    margin-bottom: 18px;
                }
            }
        }
    }

    h6 {
        max-width: 1170px;
        width: 100%;
        font-weight: 400;
        font-size: 16px;
        color: $text-grey;
        text-align: center;
        margin: 0;
        margin-bottom: 32px;
        margin-top: 28px;

        @media (max-width: 768px) {
            margin-bottom: 22px;
            margin-top: 18px;
        }

        span {
            font-size: 14px;
        }
    }

    .itemsContainer {
        max-width: 1170px;
        min-width: 290px;
        min-height: 395px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: -ms-grid;
        display: grid;
        grid-gap: 30px;
        position: relative;
        -ms-grid-columns: minmax(270px,1fr) 30px minmax(270px,1fr) 30px minmax(270px,1fr) 30px minmax(270px,1fr);
        grid-template-columns: repeat(4,minmax(270px,1fr));

        @media (max-width: 1300px) {
            max-width: 870px;
            -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
            grid-template-columns: 1fr 1fr 1fr;
        }

        @media (max-width: 1000px) {
            max-width: 570px;
            -ms-grid-columns: 1fr 30px 1fr;
            grid-template-columns: 1fr 1fr;
        }

        @media (max-width: 768px) {
            max-width: 610px;
            -ms-grid-columns: minmax(290px,1fr) 30px minmax(290px,1fr);
            grid-template-columns: repeat(2,minmax(290px,1fr));
        }

        @media (max-width: 640px) {
            max-width: 290px;
            -ms-grid-columns: minmax(290px,1fr);
            grid-template-columns: minmax(290px,1fr);
        }

        .item {
            background-color: white;
            width: 270px;
            height: 365px;
            text-align: center;
            border-radius: 7px;
            overflow: hidden;

            @media (max-width: 768px) {
                display: none;
            }

            h5{
                display: table-cell;
                vertical-align: middle;
                color: $text-grey;
                padding-left: 50px;
                width: 170px;
                height: 65px;
                line-height: 1.2;
                font-weight: 400;
                font-size: 15px;
                margin: 0 auto;
            }
        
            p {
                color: #bdc3c7;
                font-size: 14px;
                margin: 0 auto;
            }
        
            .itemImage {
                width: 270px;
                height: 260px;
            }
        }

        .itemMobile {
            @extend .item;
            display: none;

            @media (max-width: 768px) {
                display: block;
                width: 290px;
                margin-right: 0px;

                h5 {
                    padding-left: 60px;
                }

                .itemImage {
                    width: 290px;
                }
            }
        }
    }

    .load {
        max-width: 1170px;
        width: 100%;
        display: flex;
        justify-content: center;

        button {
            @include buttonOptions;
            width: 156px;
            height: 40px;
            padding: 12px 16px 8px 20px;
            border: 2px solid #d9d9d9;
            color: white;
            font-size: 12.5px;
            background-color: $primary-green;
            margin: auto;
            margin-top: 88px;
            margin-bottom: 35px;

            &:hover {
                border: 2px solid $primary-green;
                color: $primary-green;
                background-color: transparent;
            }

            @media (max-width: 768px) {
                margin-top: 48px;
                margin-bottom: 50px;
            }
        }
    }
}
}