.header {
    height: 78px;
    border-bottom: 2px solid #f3f0ea;
}
.headerContainer {
    box-sizing: border-box;
    width: 1280px;
    height: 78px;
    padding-left: 55px;
    padding-right: 55px;
    margin: auto;
    display: flex;
    align-items: center;
}
  