@import '../../../index.scss';

.popularItemsSection {
    box-sizing: border-box;
    background-color: $primary-grey;
    padding: 85px 15px 58px 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  
    @media (min-width: 650px) {
        padding: 85px 25px 58px 55px;
    }

    .titleContainer {
        max-width: 1170px;
        min-width: 768px;
        width: 100%;
        height: 26px;
        margin-bottom: 42px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;

        div {
            background-color: #f1f1f1;
            opacity: 0.1;
            max-width: 458px;
            width: 100%;
            height: 2px;
            margin: auto;
            margin-left: 0;
            margin-right: 30px;

            &:last-child {
                margin: auto;
                margin-right: 0;
                margin-left: 30px;
            }
        }

        h4 {
            font-size: 23px;
            font-weight: 900;
            color: white;
            margin: 0;
            white-space: nowrap;
        }
    }

    .itemsContainer {
        max-width: 1200px;
        min-width: 768px;
        min-height: 395px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

        .test {
            background-color: red;
            width: 200px;
            height: 200px;
            margin-left: 30px;
            margin-bottom: 30px;
        }

        .itemHover {
            background: linear-gradient(rgba(46, 211, 162, 0.9),rgba(28, 193, 103, 0.9));
            width: 270px;
            height: 365px;
            position: absolute;
            z-index: 10;
            display: flex;
            justify-content: center;

            .add {
                padding: 0;
                border: none;
                width: 90px;
                height: 90px;
                border-radius: 50%;
                color: #23c46e;
                font-size: 32px;
                text-align: center;
                background-color: white;
                outline: none;
                cursor: pointer;
                z-index: 11;
                margin-top: 135px;
            }

            .wish {
                padding: 0;
                border: none;
                width: 90px;
                height: 90px;
                border-radius: 50%;
                color: #e73c68;
                font-size: 30px;
                text-align: center;
                background-color: white;
                outline: none;
                cursor: pointer;
                z-index: 11;
                margin-left: 22px;
                margin-top: 135px;
            }
        }

        .item {
            background-color: white;
            width: 270px;
            height: 365px;
            text-align: center;
            border-radius: 7px;
            margin-bottom: 30px;
            margin-right: 30px;
            overflow: hidden;

            h5{
                display: table-cell;
                vertical-align: middle;
                color: #2c3e50;
                padding-left: 50px;
                width: 170px;
                height: 65px;
                line-height: 1.2;
                font-weight: 400;
                font-size: 15px;
                margin: 0 auto;
            }

            p {
                color: #011847;
                font-size: 14px;
                margin: 0 auto;
            }

            &:first-child {

                h5 {
                    width: 234px;
                    color: $text-grey;
                    padding-left: 17px;
                }
            }
        }

        .itemImage {
            width: 271px;
            height: 260px;
        }

        .imgGradient {
            background: transparent;
            width: 270px;
            height: 365px;
            text-align: center;
            border-radius: 7px;
            margin-bottom: 30px;
            margin-right: 30px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            .gradient {
                background: linear-gradient(rgba(220, 89, 135, 0.8), rgba(103, 91, 153, 0.8));
                width: 270px;
                height: 365px;
                border-radius: 7px;
                position: absolute;
                z-index: 9;
            }

            .itemImage {
                width: 270px;
                height: 365px;
                border-radius: 7px;
                position: absolute;
            }

            p {
                text-align: start;
                color: white;
                width: 170px;
                line-height: 1.5;
                font-weight: 300;
                font-size: 16px;
                margin: 0;
                padding-left: 30px;
                padding-bottom: 20px;
                z-index: 10;
            }

            span {
                text-align: start;
                color: white;
                width: 170px;
                font-weight: 400;
                font-size: 14px;
                margin: 0;
                padding-left: 30px;
                padding-bottom: 36px;
                z-index: 10;

                .comment {
                    color: $primary-green;
                    font-size: 24px;
                    margin-right: 14px;
                }
            }
        }
    }

    .buttonContainer {
        max-width: 1170px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-top: 20px;

        button {
            width: 265px;
            height: 40px;
            padding: 10px 33px;
            border: 2px solid #e8e2d6;
            border-radius: 20px;
            color: #ffffff;
            font-size: 14px;
            text-transform: uppercase;
            text-align: center;
            background-color: transparent;
            outline: none;
            display: flex;
            justify-content: center;
            margin: auto;
            cursor: pointer;

            div {
                font-size: 15px;
                margin-left: 25px;
                margin-right: -38px;
            }
        }
    }
}