@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

$primary-green: #84bc22;
$primary-grey: #262a32;
$primary-blue: #3a5b96;
$text-grey: #45413e;
$button-grey: #2d343a;

@mixin flexAuto {
  display: flex;
  margin: auto;
  width: 100%;
}

@mixin buttonOptions {
  font-size: 14px;
  text-align: center;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  will-change: box-shadow;
  transition: box-shadow .2s cubic-bezier(.4,0,1,1),
              background-color .2s cubic-bezier(.4,0,.2,1),
              color .2s cubic-bezier(.4,0,.2,1);
}

@mixin transition {
  transition: box-shadow .2s cubic-bezier(.4,0,1,1),
              background-color .2s cubic-bezier(.4,0,.2,1),
              color .2s cubic-bezier(.4,0,.2,1);
}

@keyframes show{
  0%{
      opacity:0;
  }
  100% {
      opacity:1;
  }
}