@import '../../../index.scss';

.logoContainer {
    position: relative;
    margin: 0;
    padding-right: 10px;

    img {
        width: 63px;
        height: 65px;
        margin: auto;

        @media (max-width: 768px) {
            width: 46px;
            height: 46px;
            margin: 0;
        }
    }

    h1,
    h3 {
        display: block;
        margin: 0;
        margin-left: 10px;
    }

    .link {
        display: flex;
        align-items: center;
    }

    h1 {
        color: #011847;
        font-size: 32px;
        letter-spacing: 6px;
        font-weight: 900;
        margin-bottom: -6px;
    }

    h3 {
        color: $primary-green;
        font-size: 18px;
        font-weight: 400;
    }

    @media (max-width: 768px) {
        margin: auto;

        h1,
        h3 {
            display: none;
        }
    }
}